
*{
    margin:0px;
    padding:0px;
}

.wrapper{
    width:970px;
    margin:auto;
    text-align: center;
}

form{
    display: inline-block;
}

h1{
    width: 600px;
    margin:100px auto 20px auto;
}

h2{
    margin-bottom:20px;
}